{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="row">
        <h5>Exceção</h5>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content blue-grey darken-1 white-text">
                        <span class="card-title truncate">{{ excecao.exception_name }}</span>
                        <p>{{ excecao.exception_message }}</p>
                    </div>

                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m4 l2"><i class="tiny material-icons">query_builder</i> Data</div>
                            <div class="col s12 m4 l8">{{ excecao.data }}</div>
                        </div>
                        <div class="row">
                            <div class="col s12 m4 l2"><i class="tiny material-icons">perm_identity</i> Empresa</div>
                            <div class="col s12 m4 l8">
                                <p> {{ excecao.empresa }} </p>
                                <p> Usuário: {{ excecao.usuario }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m4 l2"><i class="tiny material-icons">folder</i> Banco de Dados</div>
                            <div class="col s12 m4 l8">
                                {% if excecao.versao == 2 %}
                                <p>{{ excecao.database['Database'] }}</p>
                                <p>Programas conectados: {{ excecao.database['ConnectedClients'] }}</p>
                                <p>Versão Firebird: {{ excecao.database['EngineVersion'] }}</p>
                                <p>Data de Criação: {{ excecao.database['CreationDate'] | datetime }}</p>
                                <p>Tamanho: {{ excecao.database['Size'] | bytes }}</p>
                                {% else %}
                                <p>{{ excecao.database }}</p>
                                {% endif %}
                            </div>
                        </div>

                        {% if excecao.versao > 1 %}
                        <div class="row">
                            <div class="col s12 m4 l2"><i class="tiny material-icons">computer</i> Terminal</div>
                            <div class="col s12 m4 l8">
                                <p> {{ excecao.terminal }} </p>
                                <p> Sistema Operacional: {{ excecao.system['OsVersion'] }} </p>
                                <p> Memória total: {{ excecao.system['TotalMemory'] | bytes }} </p>
                                <p> Memória livre: {{ excecao.system['FreeMemory'] | bytes }} </p>
                                <p> HD: {{ excecao.system['DiskSize'] | bytes }} </p>
                                <p> HD livre: {{ excecao.system['DiskFree'] | bytes }} </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m4 l2"><i class="tiny material-icons">computer</i> Sistema</div>
                            <div class="col s12 m4 l8">
                                <p> {{ excecao.versao_do_sistema }} </p>
                                <p> {{ excecao.active_form }} </p>
                                <p> Uso de memória: {{ excecao.process_used_memory | bytes }} </p>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if excecao.stacktrace %}
                        <div class="row">
                            <div class="col s12 m4 l2"><i class="tiny material-icons">computer</i> Stacktrace</div>
                            <div class="col s12">                             
                                <pre>
                                {{- excecao.stacktrace }}
                                </pre>
                            </div>    
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
