{% extends "layout.html" %}

{% block head %}
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src = "https://code.highcharts.com/highcharts.js"></script> 
<script src = "{{ url_for('static', filename='js/axios.min.js') }}"></script> 
{% endblock %}

{% block body %}

<div class="container responsive" style="margin-top: 50px">

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">TOP 5 Chamados por Cliente</span>
                    <div id="grafico_chamados_por_cliente"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Chamados finalizados</span>
                    <div id="grafico_chamados_finalizados"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Chamados em aberto</span>
                    <div id="grafico_chamados_em_aberto"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Empresas por Catetoria</span>
                    <div id="grafico_empresas"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Cliente x Internet</span>
                    <div id="grafico_clientes_internet"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Versões em uso</span>
                    <div id="grafico_versoes_em_uso"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Sistema Operacional</span>
                    <div id="grafico_sistema_operacional"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Resoluções de Tela</span>
                    <div id="grafico_resolucoes"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script language = "JavaScript">
$(document).ready(function() {
    axios.get('/graficos/chamados_finalizados')
        .then(function(response) {
            let config = {
                type: 'column',
                subtitle: 'Finalizados nos últimos 7 dias',
                seriesName: 'Quantidade'
            };
            createChart('grafico_chamados_finalizados', config, response.data);
        });

    axios.get('/graficos/chamados_em_aberto')
        .then(function(response) {
            let config = {
                type: 'column',
                subtitle: 'Quantidade de chamados em aberto',
                seriesName: 'Quantidade'
            };
            createChart('grafico_chamados_em_aberto', config, response.data);
        });

    axios.get('/graficos/top_5_chamados_por_cliente')
        .then(function(response) {
            let config = {
                type: 'column',
                subtitle: 'Chamados abertos nos últimos 30 dias',
                seriesName: 'Quantidade'
            };
            createChart('grafico_chamados_por_cliente', config, response.data);
        });

    axios.get('/graficos/clientes_internet')
        .then(function(response) {
            let config = {
                type: 'pie',
                subtitle: 'Clientes que possuem conexão com a Internet',
                seriesName: 'Quantidade'
            };
            createChart('grafico_clientes_internet', config, response.data);
        });

    axios.get('/graficos/empresas')
        .then(function(response) {
            let config = {
                type: 'pie',
                seriesName: 'Percentual'
            };
            createChart('grafico_empresas', config, response.data);
        });

    axios.get('/graficos/versao_windows')
        .then(function(response) {
            let config = {
                type: 'bar',
                seriesName: 'Percentual'
            };
            createChart('grafico_sistema_operacional', config, response.data);
        });

    axios.get('/graficos/resolucoes')
        .then(function(response) {
            let config = {
                type: 'bar',
                seriesName: 'Percentual'
            };
            createChart('grafico_resolucoes', config, response.data);
        });

    axios.get('/graficos/versoes_em_uso')
        .then(function(response) {
            let config = {
                type: 'pie',
                seriesName: 'Percentual'
            };
            createChart('grafico_versoes_em_uso', config, response.data);
        });
});

function createChart(elementId, config, values) {
    var names = values.map(function (e) { return e.name });

    Highcharts.chart(elementId, {
        chart: { type: config.type }, 
        title: { text: config.title },
        subtitle: { text: config.subtitle || ''},
        xAxis: { categories: names},
        yAxis: {
            min: 0,
            title: { text: 'Quantidade' }      
        },
        credits: { enabled: false },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                colorByPoint: true
            }
        },
        series: [{ 
            name: config.seriesName || null,
            data: values
        }]
    }
    );
}

</script>

{% endblock %}
