{% extends "layout.html" %} {% block body %}

<div class="container">

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content blue-grey darken-1 white-text">
          <span class="card-title truncate">{{ chamado.obtem_titulo() }}</span>
        </div>
        <div class="card-content">
          <p style="color: #909090">
            <i class="tiny material-icons">perm_identity</i> {{ chamado.cliente.nome }}
            <i class="tiny material-icons">query_builder</i> {{ chamado.data_abertura|datetime }}
          </p>
          <p style="color: #909090">
            <i class="tiny material-icons">perm_identity</i> {{ chamado.solicitante }}
          </p>
          <p style="margin-top: 15px">{{ chamado.descricao }}</p>
        </div>
        <div class="card-action">
          <a href="#">Finalizar</a>
        </div>
      </div>
    </div>
  </div>

  {% if comentarios %}
  <h2>Comentários</h2>
  {% endif %}

  {% for comentario in comentarios %}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div>
            <i class="tiny material-icons">query_builder</i> {{ comentario.data|datetime }}
          </div>
          <div>
            {{ comentario.descricao }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


</div>
{% endblock %}