{% extends "layout.html" %}
{% block body %}
<table class="highlight ello-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Abertura</th>
      <th>Relator</th>
      <th>Responsável</th>
      <th>Descricao</th>
      <th>...</th>
    </tr>
  </thead>
  <tbody>
    {% for chamado in chamados %}
    {% set cor_badge = "red" if chamado.situacao==1 else "blue" %}
    <tr class="clickable-row" data-href="{{ chamado.id_chamado }}">
      <td>{{ chamado.id_chamado }}</td>
      <td>{{ chamado.data_abertura|date }} {{ chamado.aberturahora|time }}</td>
      <td>{{ chamado.relator }}</td>
      <td>{{ chamado.responsavel.nome }}</td>
      <td>{{ (chamado.descricao or '')[:100] }}</td>
      <td>
        <span class="new badge {{ cor_badge }}" data-badge-caption="{{ chamado.obtem_status() }}"></span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large red" href="/excecoes">
    <i class="large material-icons">add</i>
  </a>
</div>

<script type="text/javascript"> 
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}
